*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fb;
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    margin-bottom:10px;
}

.dashboard-container{
    width:90%;
    margin:30px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    margin-bottom:10px;
    color:#0d6efd;
}

.card p{
    color:#555;
}